:root {
    color-scheme: light dark;
    --background-light: #fff;
    --background-dark: #000;
    --color-light: var(--background-dark);
    --color-dark: var(--background-light);

    --grey: #353535;
}

body {
    font-family: "Roboto", sanas-serif;
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: .5fr 2fr;
    min-width: 100vw;
    min-height: 100vh;
}

.sidemenu {
    padding: 10%;
    border-right: 1px solid var(--background-light);

    position: sticky;
    left: 0;
    top: 0;

    grid-gap: 15px;
    grid-column: 1;
    
    display: flex;
    flex-direction: column;
}

.sidemenu .perfil {
    position: relative;
    margin: 0 auto;
}

.sidemenu .perfil .perfil-image {
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
}

.sidemenu .perfil a {
    background: var(--grey);
    font-size: 2ch;
    padding: 5px 10px;
    border-radius: 50px;
    
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: 3;
}

.sidemenu .menu {
    font-size: 2.5ch;
    text-align: right;

    margin: 40% 0;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidemenu .social {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.sidemenu .social img {
    width: 50px;
}

.content {
    background: var(--background-light);
    max-height: 100vh;
    overflow: auto;

    grid-column: 2;
}